<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=DESKTOP-LN69N0L\AMRUTHASIDDHI;Initial Catalog=QDB;Integrated Security=True;MultipleActiveResultSets=true"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	
		<appSettings>

			<add key="YouTubeAppName" value="Quiz" />
			
			<add key="YouTubeApiKey" value="AIzaSyD6A8e3aQE1uPgcqC3KLDIVdyEW2Ukx-ZY" />
			
			<add key="PollIntervalSeconds" value="5" />

			
			
			<add key="LiveVideoId" value="CDzIL0DXIU8" />
			</appSettings>		
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>